network:
  ethernets:
    {{nic}}:
      dhcp4: no
  bridges:
    br0:
      dhcp4: yes
      mtu: 9000
      macaddress: {{mac}}
      interfaces:
        - {{nic}}
      parameters:
        stp: false
  version: 2
